<div class="row">
  <aside class="col-md-4">
    <section class="avt">
      <h1>
        <%= image_tag user.avatar.url(:thumb) if user.avatar? %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <%= link_to user.name, user %>
    <%= user.dob %>
    <%= link_to "delete", user, method: :delete,
                data: { confirm: "You sure?" } %>
  </div>
</div>
