<!DOCTYPE html>
<html>
  <head>
    <title>Pr1Rktt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

  </div>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <p class="navbar-text pull-right">

        <% if current_user %>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "UsersLogout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <%= link_to 'Profile',  current_user %>

    <% elsif current_admin %>
        <%= link_to 'Admin Logout',  destroy_admin_session_path, method: :delete, :class => 'navbar-link' %>
        <%= link_to 'Users',  users_path %>
    <% end %>
  </p>
    <%= yield %>
  </body>
</html>
